{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>

<p>Amet ex magni officia delectus optio Distinctio debitis ea dolore debitis deserunt? Ipsa veritatis obcaecati expedita illo incidunt velit animi. Ipsum minus quod nulla exercitationem quam Repellendus recusandae necessitatibus vitae?</p>
{{end}}
